<div class="jumbotron text-center">

    <div flex layout="row" layout-align="center">
        <div class="layout-max-width">
            <md-head layout="column" layout-align="center center">
                <h2 class="md-head">Blogs</h2>
            </md-head>
        </div>
    </div>

    <div flex layout="row" layout-align="center">
        <div class="layout-max-width virtualRepeatdemoDeferredLoading">
            <md-card>
                <md-toolbar layout="row" layout-align="center start" md-colors="{background: 'emerald-green'}">
                    <div flex class="layout-max-width" layout="row">
                        <div class="md-toolbar-tools">
                            <md-button ui-sref=".edit({blogID:0})" aria-label="Add new">
                                Add new
                            </md-button>
                            <md-button aria-label="Active" ng-click="statusChanges(true)" ng-disabled="countCheck === 0">
                                Active
                            </md-button>
                            <md-button aria-label="UnActive" ng-click="statusChanges(false)" ng-disabled="countCheck === 0">
                                UnActive
                            </md-button>
                            <md-button aria-label="Delete" ng-click="deleteBlogs()" ng-disabled="countCheck === 0">
                                Delete
                            </md-button>

                            <md-input-container flex="15">
                                <md-select ng-model="pageSize"
                                ng-change="pageSizeChanged()"
                                aria-label="false">
                                <md-option ng-repeat="option in options" ng-value="option.value">
                                    {{option.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex>
                            <input type="search" ng-model="searchText.name" ng-change="searchTextChanged()" placeholder="Search">
                        </md-input-container>

                        <md-button ui-sref="adminBlog" class="md-fab md-mini" md-colors="{background: 'orange'}" aria-label="Favorite">
                            <md-icon md-svg-src="/img/icons/house-outline.svg"></md-icon>
                        </md-button>
                    </div>
                </div>
            </md-toolbar>

            <ui-view></ui-view>

            <md-subheader class="md-no-sticky" layout="column">
                <span>Showing {{startItem}} to {{endItem}} of {{totalItems}} entries</span>

            </md-subheader>

            <md-list-item>
                <md-checkbox aria-label="Select All" ng-click="allNeedsClicked()" ng-checked="allNeedsMet()"></md-checkbox>
                <span flex="50">
                    <md-input-container>
                        <label>title</label>
                        <input ng-model="searchText.title" type="search" ng-change="searchTextChanged()" ng-model-options="{ debounce: 1000 }">
                        <md-icon aria-hidden="true" ng-click="sort('title')">
                            <i class="fa fa-sort md-icon-button" ng-class="{
                            'fa-sort-amount-desc':(reverse&&sortKey=='title'),
                            'fa-sort-amount-asc':(!reverse&&sortKey=='title'), 
                            'fa-sort':(sortKey != 'title')}"></i>
                        </md-icon>
                    </md-input-container>
                </span>
                <span flex="30">
                    <md-input-container>
                        <label>Title</label>
                        <input ng-model="searchText.title" type="search" ng-change="searchTextChanged()" ng-model-options="{ debounce: 1000 }">
                        <md-icon aria-hidden="true" ng-click="sort('title')">
                            <i class="fa fa-sort md-icon-button" ng-class="{
                            'fa-sort-amount-desc':(reverse&&sortKey=='title'),
                            'fa-sort-amount-asc':(!reverse&&sortKey=='title'), 
                            'fa-sort':(sortKey != 'title')}"></i>
                        </md-icon>
                    </md-input-container>
                </span>
                <span flex="20">
                    <md-input-container md-no-float class="md-block">
                        <label>Category</label>

                        <md-select ng-model="searchText.category_id"
                        ng-change="searchTextChanged()"
                        aria-label="false">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="option in categories " ng-value="option.id">
                            {{option.name}}
                        </md-option>
                    </md-select>
                    <md-icon aria-hidden="true" ng-click="sort('category_id')">
                        <i class="fa fa-sort md-icon-button" ng-class="{
                        'fa-sort-amount-desc':(reverse&&sortKey=='category_id'),
                        'fa-sort-amount-asc':(!reverse&&sortKey=='category_id'), 
                        'fa-sort':(sortKey != 'category_id')}"></i>
                    </md-icon>
                </md-input-container>
            </span>
            <md-switch ng-change="sort('status')" aria-label="false" ng-model="status"></md-switch>
            <md-button class="md-secondary md-icon-button" aria-label="false"></md-button>
            <md-button class="md-secondary md-icon-button" aria-label="false"></md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-repeat="item in blogs" ng-class="{'info':item.selected}" ng-click="selectRow(item)">
            <md-checkbox ng-model="item.selected" aria-label="false"></md-checkbox>
            <span flex="50"><img ng-src="{{item.imageThumb}}" ng-show="item.image" width="60" class="md-avatar" /> {{item.title}}</span>
            <span flex="30">{{item.auth}}</span>
            <span flex="20">{{item.category.name}}</span>
            <md-switch class="md-secondary" ng-change="statusChange(item.id, item.status)" ng-true-value="1" ng-false-value="0" ng-model="item.status" aria-label="false"></md-switch>

            <md-button class="md-secondary md-icon-button" ui-sref="blogViews({blogSlug:item.slug})" aria-label="false">
                <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
            </md-button>
            <md-button class="md-secondary md-icon-button" ui-sref=".edit({blogID:item.id})" aria-label="false">
                <i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i>
            </md-button>
            <md-button class="md-secondary md-icon-button" ng-click="deleteBlog(item.id)" aria-label="false">
                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </md-button>

        </md-list-item>

        <h4 ng-show="blogs.length == 0">No blogs found</h4>

        <md-card-actions layout="row" layout-align="start" uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()" items-per-page="pageSize"></md-card-actions>
    </md-card>
</div>
</div>



</div>